New folder/Avarez/Web References/SamieSrv/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CollectionId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="MunId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DoSendResult" type="tns:Reponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Reponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Guid" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="status" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Response" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>