New folder - Copy/Avarez/Web References/RasaSabt/estelam.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CodeMeli">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codemeli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="live" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodeMeliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodeMeliResult" type="tns:Sp_tblPersons" />
            <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sp_tblPersons">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="birthDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bookNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bookRow" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deathStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="family" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fatherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="officeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="officeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shenasnameNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shenasnameSeri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shenasnameSerial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="genderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deathStatusName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserWeb" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="OldNationalCardPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardSeri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardSerial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Live" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OldNationalCardPhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OldNationalCardPhotoResult" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewNationalCardPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CardSerial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Live" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewNationalCardPhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewNationalCardPhotoResult" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressFromPostalCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codePosti" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Live" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressFromPostalCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressFromPostalCodeResult" type="tns:Sp_tblResponse" />
            <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sp_tblResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="locationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="parish" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="preAvenue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sideFloor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="townShip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="village" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="locationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreTelNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="floorNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="avenue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="houseNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="buildingName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserWeb" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddressFromTeloghon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preTelephoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephoneNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Live" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddressFromTeloghonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddressFromTeloghonResult" type="tns:Sp_tblResponse" />
            <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MilitaryStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codemeli" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Live" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MilitaryStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MilitaryStatusResult" type="tns:Sp_tblMilitary" />
            <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sp_tblMilitary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resulte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserWeb" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NameResulte" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="C_date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CodeMeliSoapIn">
    <wsdl:part name="parameters" element="tns:CodeMeli" />
  </wsdl:message>
  <wsdl:message name="CodeMeliSoapOut">
    <wsdl:part name="parameters" element="tns:CodeMeliResponse" />
  </wsdl:message>
  <wsdl:message name="OldNationalCardPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:OldNationalCardPhoto" />
  </wsdl:message>
  <wsdl:message name="OldNationalCardPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:OldNationalCardPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="NewNationalCardPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:NewNationalCardPhoto" />
  </wsdl:message>
  <wsdl:message name="NewNationalCardPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:NewNationalCardPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="AddressFromPostalCodeSoapIn">
    <wsdl:part name="parameters" element="tns:AddressFromPostalCode" />
  </wsdl:message>
  <wsdl:message name="AddressFromPostalCodeSoapOut">
    <wsdl:part name="parameters" element="tns:AddressFromPostalCodeResponse" />
  </wsdl:message>
  <wsdl:message name="AddressFromTeloghonSoapIn">
    <wsdl:part name="parameters" element="tns:AddressFromTeloghon" />
  </wsdl:message>
  <wsdl:message name="AddressFromTeloghonSoapOut">
    <wsdl:part name="parameters" element="tns:AddressFromTeloghonResponse" />
  </wsdl:message>
  <wsdl:message name="MilitaryStatusSoapIn">
    <wsdl:part name="parameters" element="tns:MilitaryStatus" />
  </wsdl:message>
  <wsdl:message name="MilitaryStatusSoapOut">
    <wsdl:part name="parameters" element="tns:MilitaryStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="EstelamSoap">
    <wsdl:operation name="CodeMeli">
      <wsdl:input message="tns:CodeMeliSoapIn" />
      <wsdl:output message="tns:CodeMeliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OldNationalCardPhoto">
      <wsdl:input message="tns:OldNationalCardPhotoSoapIn" />
      <wsdl:output message="tns:OldNationalCardPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewNationalCardPhoto">
      <wsdl:input message="tns:NewNationalCardPhotoSoapIn" />
      <wsdl:output message="tns:NewNationalCardPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressFromPostalCode">
      <wsdl:input message="tns:AddressFromPostalCodeSoapIn" />
      <wsdl:output message="tns:AddressFromPostalCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddressFromTeloghon">
      <wsdl:input message="tns:AddressFromTeloghonSoapIn" />
      <wsdl:output message="tns:AddressFromTeloghonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MilitaryStatus">
      <wsdl:input message="tns:MilitaryStatusSoapIn" />
      <wsdl:output message="tns:MilitaryStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EstelamSoap" type="tns:EstelamSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CodeMeli">
      <soap:operation soapAction="http://tempuri.org/CodeMeli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OldNationalCardPhoto">
      <soap:operation soapAction="http://tempuri.org/OldNationalCardPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewNationalCardPhoto">
      <soap:operation soapAction="http://tempuri.org/NewNationalCardPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressFromPostalCode">
      <soap:operation soapAction="http://tempuri.org/AddressFromPostalCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressFromTeloghon">
      <soap:operation soapAction="http://tempuri.org/AddressFromTeloghon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MilitaryStatus">
      <soap:operation soapAction="http://tempuri.org/MilitaryStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EstelamSoap12" type="tns:EstelamSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CodeMeli">
      <soap12:operation soapAction="http://tempuri.org/CodeMeli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OldNationalCardPhoto">
      <soap12:operation soapAction="http://tempuri.org/OldNationalCardPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewNationalCardPhoto">
      <soap12:operation soapAction="http://tempuri.org/NewNationalCardPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressFromPostalCode">
      <soap12:operation soapAction="http://tempuri.org/AddressFromPostalCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressFromTeloghon">
      <soap12:operation soapAction="http://tempuri.org/AddressFromTeloghon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MilitaryStatus">
      <soap12:operation soapAction="http://tempuri.org/MilitaryStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Estelam">
    <wsdl:port name="EstelamSoap" binding="tns:EstelamSoap">
      <soap:address location="http://46.100.105.150:1820/estelam.asmx" />
    </wsdl:port>
    <wsdl:port name="EstelamSoap12" binding="tns:EstelamSoap12">
      <soap12:address location="http://46.100.105.150:1820/estelam.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>