New folder/Avarez/Web References/ussd/UssdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMablagh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Vin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMablaghResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMablaghResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShenaseGhabz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Vin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShenaseGhabzResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShenaseGhabzResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMablaghSoapIn">
    <wsdl:part name="parameters" element="tns:GetMablagh" />
  </wsdl:message>
  <wsdl:message name="GetMablaghSoapOut">
    <wsdl:part name="parameters" element="tns:GetMablaghResponse" />
  </wsdl:message>
  <wsdl:message name="GetShenaseGhabzSoapIn">
    <wsdl:part name="parameters" element="tns:GetShenaseGhabz" />
  </wsdl:message>
  <wsdl:message name="GetShenaseGhabzSoapOut">
    <wsdl:part name="parameters" element="tns:GetShenaseGhabzResponse" />
  </wsdl:message>
  <wsdl:portType name="UssdServiceSoap">
    <wsdl:operation name="GetMablagh">
      <wsdl:input message="tns:GetMablaghSoapIn" />
      <wsdl:output message="tns:GetMablaghSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShenaseGhabz">
      <wsdl:input message="tns:GetShenaseGhabzSoapIn" />
      <wsdl:output message="tns:GetShenaseGhabzSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UssdServiceSoap" type="tns:UssdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMablagh">
      <soap:operation soapAction="http://tempuri.org/GetMablagh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShenaseGhabz">
      <soap:operation soapAction="http://tempuri.org/GetShenaseGhabz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UssdServiceSoap12" type="tns:UssdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMablagh">
      <soap12:operation soapAction="http://tempuri.org/GetMablagh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShenaseGhabz">
      <soap12:operation soapAction="http://tempuri.org/GetShenaseGhabz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UssdService">
    <wsdl:port name="UssdServiceSoap" binding="tns:UssdServiceSoap">
      <soap:address location="http://78.38.56.21:8001/UssdService.asmx" />
    </wsdl:port>
    <wsdl:port name="UssdServiceSoap12" binding="tns:UssdServiceSoap12">
      <soap12:address location="http://78.38.56.21:8001/UssdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>