Avarez/Web References/WebTransaction/TransactionWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSamanOrderId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Mablagh" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MunName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSamanOrderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSamanOrderIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSamanRefNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RefNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSamanRefNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSamanRefNumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistRefNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RefNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistRefNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistRefNumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTempKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTempKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertTempKeyResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTempKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTempKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTempKeyResult" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTempKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTempKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectTempKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAccountCharge_Guest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAccountCharge_GuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAccountCharge_GuestResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HaveCharge" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mojodi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Transaction_Guest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transaction_GuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Transaction_GuestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAccountCharge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAccountChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAccountChargeResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TransactionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodeDaftar" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NodeType" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Family" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodeMeli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterGuest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebUserMun" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebPassMun" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Family" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodeMeli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterGuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterGuestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPayablePrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebUserMun" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebPassMun" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPayablePriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPayablePriceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSamanOrderIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSamanOrderId" />
  </wsdl:message>
  <wsdl:message name="GetSamanOrderIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSamanOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSamanRefNumSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSamanRefNum" />
  </wsdl:message>
  <wsdl:message name="UpdateSamanRefNumSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSamanRefNumResponse" />
  </wsdl:message>
  <wsdl:message name="ExistRefNumSoapIn">
    <wsdl:part name="parameters" element="tns:ExistRefNum" />
  </wsdl:message>
  <wsdl:message name="ExistRefNumSoapOut">
    <wsdl:part name="parameters" element="tns:ExistRefNumResponse" />
  </wsdl:message>
  <wsdl:message name="InsertTempKeySoapIn">
    <wsdl:part name="parameters" element="tns:InsertTempKey" />
  </wsdl:message>
  <wsdl:message name="InsertTempKeySoapOut">
    <wsdl:part name="parameters" element="tns:InsertTempKeyResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTempKeySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTempKey" />
  </wsdl:message>
  <wsdl:message name="DeleteTempKeySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTempKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SelectTempKeySoapIn">
    <wsdl:part name="parameters" element="tns:SelectTempKey" />
  </wsdl:message>
  <wsdl:message name="SelectTempKeySoapOut">
    <wsdl:part name="parameters" element="tns:SelectTempKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAccountCharge_GuestSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAccountCharge_Guest" />
  </wsdl:message>
  <wsdl:message name="CheckAccountCharge_GuestSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAccountCharge_GuestResponse" />
  </wsdl:message>
  <wsdl:message name="Transaction_GuestSoapIn">
    <wsdl:part name="parameters" element="tns:Transaction_Guest" />
  </wsdl:message>
  <wsdl:message name="Transaction_GuestSoapOut">
    <wsdl:part name="parameters" element="tns:Transaction_GuestResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAccountChargeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAccountCharge" />
  </wsdl:message>
  <wsdl:message name="CheckAccountChargeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAccountChargeResponse" />
  </wsdl:message>
  <wsdl:message name="TransactionSoapIn">
    <wsdl:part name="parameters" element="tns:Transaction" />
  </wsdl:message>
  <wsdl:message name="TransactionSoapOut">
    <wsdl:part name="parameters" element="tns:TransactionResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterGuestSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterGuest" />
  </wsdl:message>
  <wsdl:message name="RegisterGuestSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterGuestResponse" />
  </wsdl:message>
  <wsdl:message name="GetPayablePriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPayablePrice" />
  </wsdl:message>
  <wsdl:message name="GetPayablePriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPayablePriceResponse" />
  </wsdl:message>
  <wsdl:portType name="TransactionWebServiceSoap">
    <wsdl:operation name="GetSamanOrderId">
      <wsdl:input message="tns:GetSamanOrderIdSoapIn" />
      <wsdl:output message="tns:GetSamanOrderIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSamanRefNum">
      <wsdl:input message="tns:UpdateSamanRefNumSoapIn" />
      <wsdl:output message="tns:UpdateSamanRefNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistRefNum">
      <wsdl:input message="tns:ExistRefNumSoapIn" />
      <wsdl:output message="tns:ExistRefNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertTempKey">
      <wsdl:input message="tns:InsertTempKeySoapIn" />
      <wsdl:output message="tns:InsertTempKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTempKey">
      <wsdl:input message="tns:DeleteTempKeySoapIn" />
      <wsdl:output message="tns:DeleteTempKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectTempKey">
      <wsdl:input message="tns:SelectTempKeySoapIn" />
      <wsdl:output message="tns:SelectTempKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccountCharge_Guest">
      <wsdl:input message="tns:CheckAccountCharge_GuestSoapIn" />
      <wsdl:output message="tns:CheckAccountCharge_GuestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transaction_Guest">
      <wsdl:input message="tns:Transaction_GuestSoapIn" />
      <wsdl:output message="tns:Transaction_GuestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccountCharge">
      <wsdl:input message="tns:CheckAccountChargeSoapIn" />
      <wsdl:output message="tns:CheckAccountChargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transaction">
      <wsdl:input message="tns:TransactionSoapIn" />
      <wsdl:output message="tns:TransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterGuest">
      <wsdl:input message="tns:RegisterGuestSoapIn" />
      <wsdl:output message="tns:RegisterGuestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPayablePrice">
      <wsdl:input message="tns:GetPayablePriceSoapIn" />
      <wsdl:output message="tns:GetPayablePriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionWebServiceSoap" type="tns:TransactionWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSamanOrderId">
      <soap:operation soapAction="http://tempuri.org/GetSamanOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSamanRefNum">
      <soap:operation soapAction="http://tempuri.org/UpdateSamanRefNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistRefNum">
      <soap:operation soapAction="http://tempuri.org/ExistRefNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTempKey">
      <soap:operation soapAction="http://tempuri.org/InsertTempKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTempKey">
      <soap:operation soapAction="http://tempuri.org/DeleteTempKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTempKey">
      <soap:operation soapAction="http://tempuri.org/SelectTempKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountCharge_Guest">
      <soap:operation soapAction="http://tempuri.org/CheckAccountCharge_Guest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transaction_Guest">
      <soap:operation soapAction="http://tempuri.org/Transaction_Guest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountCharge">
      <soap:operation soapAction="http://tempuri.org/CheckAccountCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transaction">
      <soap:operation soapAction="http://tempuri.org/Transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterGuest">
      <soap:operation soapAction="http://tempuri.org/RegisterGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayablePrice">
      <soap:operation soapAction="http://tempuri.org/GetPayablePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransactionWebServiceSoap12" type="tns:TransactionWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSamanOrderId">
      <soap12:operation soapAction="http://tempuri.org/GetSamanOrderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSamanRefNum">
      <soap12:operation soapAction="http://tempuri.org/UpdateSamanRefNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistRefNum">
      <soap12:operation soapAction="http://tempuri.org/ExistRefNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTempKey">
      <soap12:operation soapAction="http://tempuri.org/InsertTempKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTempKey">
      <soap12:operation soapAction="http://tempuri.org/DeleteTempKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTempKey">
      <soap12:operation soapAction="http://tempuri.org/SelectTempKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountCharge_Guest">
      <soap12:operation soapAction="http://tempuri.org/CheckAccountCharge_Guest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transaction_Guest">
      <soap12:operation soapAction="http://tempuri.org/Transaction_Guest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountCharge">
      <soap12:operation soapAction="http://tempuri.org/CheckAccountCharge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transaction">
      <soap12:operation soapAction="http://tempuri.org/Transaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterGuest">
      <soap12:operation soapAction="http://tempuri.org/RegisterGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayablePrice">
      <soap12:operation soapAction="http://tempuri.org/GetPayablePrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionWebService">
    <wsdl:port name="TransactionWebServiceSoap" binding="tns:TransactionWebServiceSoap">
      <soap:address location="http://trn.ecartax.ir/TransactionWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TransactionWebServiceSoap12" binding="tns:TransactionWebServiceSoap12">
      <soap12:address location="http://trn.ecartax.ir/TransactionWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>