قبلییی/Avarez/Web References/epishkhan_pos/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tnx="http://www.wso2.org/php/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://www.wso2.org/php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://www.w3.org/2003/05/soap/bindings/HTTP/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.wso2.org/php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.wso2.org/php/xsd">
      <xsd:element name="verify">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="serial" type="xsd:string" />
            <xsd:element name="refnum" type="xsd:string" />
            <xsd:element name="postrace" type="xsd:string" />
            <xsd:element name="posterminal" type="xsd:string" />
            <xsd:element name="posrrn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verifyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pkhref" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCancel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="parent_pkhref" type="xsd:string" />
            <xsd:element name="parent_refnum" type="xsd:string" />
            <xsd:element name="parent_service_id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCancelResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pkhref" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCallGtp1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="owner_id" type="xsd:string" />
            <xsd:element name="bita_code" type="xsd:string" />
            <xsd:element name="bita_instance_id" type="xsd:string" />
            <xsd:element name="bita_serial" type="xsd:string" />
            <xsd:element name="bita_type" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCallGtp1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serial" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verifyGtp1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="serial" type="xsd:string" />
            <xsd:element name="payment_id" type="xsd:string" />
            <xsd:element name="pos_res" type="xsd:string" />
            <xsd:element name="pos_trace" type="xsd:string" />
            <xsd:element name="pos_terminal" type="xsd:string" />
            <xsd:element name="pos_rrn" type="xsd:string" />
            <xsd:element name="pos_amount" type="xsd:string" />
            <xsd:element name="refnum" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verifyGtp1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pkhref" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateToken">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="token" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="servicePay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="office_amount" type="xsd:int" />
            <xsd:element name="customer_amount" type="xsd:int" />
            <xsd:element name="ssn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="servicePayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serial" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="servicePayPos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="office_amount" type="xsd:int" />
            <xsd:element name="customer_amount" type="xsd:int" />
            <xsd:element name="ssn" type="xsd:string" />
            <xsd:element name="cell" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="servicePayPosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serial" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="servicePayBillPos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="bill_id" type="xsd:string" />
            <xsd:element name="payment_id" type="xsd:string" />
            <xsd:element name="ssn" type="xsd:string" />
            <xsd:element name="cell" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="servicePayBillPosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serial" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCallPos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="ssn" type="xsd:string" />
            <xsd:element name="cell" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCallPosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serial" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="info">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="infoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="office" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCall">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pass" type="xsd:string" />
            <xsd:element name="domain" type="xsd:string" />
            <xsd:element name="ver_code" type="xsd:string" />
            <xsd:element name="user_key" type="xsd:int" />
            <xsd:element name="service_id" type="xsd:int" />
            <xsd:element name="ssn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="serviceCallResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serial" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="verify">
    <wsdl:part name="parameters" element="tnx:verify" />
  </wsdl:message>
  <wsdl:message name="verifyResponse">
    <wsdl:part name="parameters" element="tnx:verifyResponse" />
  </wsdl:message>
  <wsdl:message name="serviceCancel">
    <wsdl:part name="parameters" element="tnx:serviceCancel" />
  </wsdl:message>
  <wsdl:message name="serviceCancelResponse">
    <wsdl:part name="parameters" element="tnx:serviceCancelResponse" />
  </wsdl:message>
  <wsdl:message name="serviceCallGtp1">
    <wsdl:part name="parameters" element="tnx:serviceCallGtp1" />
  </wsdl:message>
  <wsdl:message name="serviceCallGtp1Response">
    <wsdl:part name="parameters" element="tnx:serviceCallGtp1Response" />
  </wsdl:message>
  <wsdl:message name="verifyGtp1">
    <wsdl:part name="parameters" element="tnx:verifyGtp1" />
  </wsdl:message>
  <wsdl:message name="verifyGtp1Response">
    <wsdl:part name="parameters" element="tnx:verifyGtp1Response" />
  </wsdl:message>
  <wsdl:message name="validate">
    <wsdl:part name="parameters" element="tnx:validate" />
  </wsdl:message>
  <wsdl:message name="validateResponse">
    <wsdl:part name="parameters" element="tnx:validateResponse" />
  </wsdl:message>
  <wsdl:message name="validateToken">
    <wsdl:part name="parameters" element="tnx:validateToken" />
  </wsdl:message>
  <wsdl:message name="validateTokenResponse">
    <wsdl:part name="parameters" element="tnx:validateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="servicePay">
    <wsdl:part name="parameters" element="tnx:servicePay" />
  </wsdl:message>
  <wsdl:message name="servicePayResponse">
    <wsdl:part name="parameters" element="tnx:servicePayResponse" />
  </wsdl:message>
  <wsdl:message name="servicePayPos">
    <wsdl:part name="parameters" element="tnx:servicePayPos" />
  </wsdl:message>
  <wsdl:message name="servicePayPosResponse">
    <wsdl:part name="parameters" element="tnx:servicePayPosResponse" />
  </wsdl:message>
  <wsdl:message name="servicePayBillPos">
    <wsdl:part name="parameters" element="tnx:servicePayBillPos" />
  </wsdl:message>
  <wsdl:message name="servicePayBillPosResponse">
    <wsdl:part name="parameters" element="tnx:servicePayBillPosResponse" />
  </wsdl:message>
  <wsdl:message name="serviceCallPos">
    <wsdl:part name="parameters" element="tnx:serviceCallPos" />
  </wsdl:message>
  <wsdl:message name="serviceCallPosResponse">
    <wsdl:part name="parameters" element="tnx:serviceCallPosResponse" />
  </wsdl:message>
  <wsdl:message name="info">
    <wsdl:part name="parameters" element="tnx:info" />
  </wsdl:message>
  <wsdl:message name="infoResponse">
    <wsdl:part name="parameters" element="tnx:infoResponse" />
  </wsdl:message>
  <wsdl:message name="serviceCall">
    <wsdl:part name="parameters" element="tnx:serviceCall" />
  </wsdl:message>
  <wsdl:message name="serviceCallResponse">
    <wsdl:part name="parameters" element="tnx:serviceCallResponse" />
  </wsdl:message>
  <wsdl:portType name="dev.pishkhan.poswsPortType">
    <wsdl:operation name="verify">
      <wsdl:input message="tns:verify" />
      <wsdl:output message="tns:verifyResponse" />
    </wsdl:operation>
    <wsdl:operation name="serviceCancel">
      <wsdl:input message="tns:serviceCancel" />
      <wsdl:output message="tns:serviceCancelResponse" />
    </wsdl:operation>
    <wsdl:operation name="serviceCallGtp1">
      <wsdl:input message="tns:serviceCallGtp1" />
      <wsdl:output message="tns:serviceCallGtp1Response" />
    </wsdl:operation>
    <wsdl:operation name="verifyGtp1">
      <wsdl:input message="tns:verifyGtp1" />
      <wsdl:output message="tns:verifyGtp1Response" />
    </wsdl:operation>
    <wsdl:operation name="validate">
      <wsdl:input message="tns:validate" />
      <wsdl:output message="tns:validateResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateToken">
      <wsdl:input message="tns:validateToken" />
      <wsdl:output message="tns:validateTokenResponse" />
    </wsdl:operation>
    <wsdl:operation name="servicePay">
      <wsdl:input message="tns:servicePay" />
      <wsdl:output message="tns:servicePayResponse" />
    </wsdl:operation>
    <wsdl:operation name="servicePayPos">
      <wsdl:input message="tns:servicePayPos" />
      <wsdl:output message="tns:servicePayPosResponse" />
    </wsdl:operation>
    <wsdl:operation name="servicePayBillPos">
      <wsdl:input message="tns:servicePayBillPos" />
      <wsdl:output message="tns:servicePayBillPosResponse" />
    </wsdl:operation>
    <wsdl:operation name="serviceCallPos">
      <wsdl:input message="tns:serviceCallPos" />
      <wsdl:output message="tns:serviceCallPosResponse" />
    </wsdl:operation>
    <wsdl:operation name="info">
      <wsdl:input message="tns:info" />
      <wsdl:output message="tns:infoResponse" />
    </wsdl:operation>
    <wsdl:operation name="serviceCall">
      <wsdl:input message="tns:serviceCall" />
      <wsdl:output message="tns:serviceCallResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dev.pishkhan.poswsSOAPBinding" type="tns:dev.pishkhan.poswsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="verify">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/verify" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="serviceCancel">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/serviceCancel" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="serviceCallGtp1">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/serviceCallGtp1" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="verifyGtp1">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/verifyGtp1" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="validate">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/validate" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="validateToken">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/validateToken" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="servicePay">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/servicePay" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="servicePayPos">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/servicePayPos" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="servicePayBillPos">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/servicePayBillPos" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="serviceCallPos">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/serviceCallPos" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="info">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/info" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="serviceCall">
      <default:operation soapAction="http://poswsappdev.epishkhan.ir:5380/index.php/serviceCall" style="document" />
      <wsdl:input>
        <default:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <default:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dev.pishkhan.posws">
    <wsdl:port xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="dev.pishkhan.poswsSOAPPort_Http" binding="tns:dev.pishkhan.poswsSOAPBinding">
      <default:address location="http://poswsappdev.epishkhan.ir:5380/index.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>