قبلییی/Avarez/Web References/Saman/BillStateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillStateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IBillStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://bill.samanepay.com/CheckBill/BillStateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://bill.samanepay.com/CheckBill/BillStateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBillStateService_VerifyBillPaymentWithAddData_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyBillPaymentWithAddData" />
  </wsdl:message>
  <wsdl:message name="IBillStateService_VerifyBillPaymentWithAddData_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyBillPaymentWithAddDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBillStateService_VerifyBillPaymentGetByTermIdAndDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyBillPaymentGetByTermIdAndDateTime" />
  </wsdl:message>
  <wsdl:message name="IBillStateService_VerifyBillPaymentGetByTermIdAndDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyBillPaymentGetByTermIdAndDateTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBillStateService">
    <wsdl:operation name="VerifyBillPaymentWithAddData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillStateService/VerifyBillPaymentWithAddData" message="tns:IBillStateService_VerifyBillPaymentWithAddData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillStateService/VerifyBillPaymentWithAddDataResponse" message="tns:IBillStateService_VerifyBillPaymentWithAddData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyBillPaymentGetByTermIdAndDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillStateService/VerifyBillPaymentGetByTermIdAndDateTime" message="tns:IBillStateService_VerifyBillPaymentGetByTermIdAndDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillStateService/VerifyBillPaymentGetByTermIdAndDateTimeResponse" message="tns:IBillStateService_VerifyBillPaymentGetByTermIdAndDateTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IBillStateService" type="tns:IBillStateService">
    <wsp:PolicyReference URI="#WSHttpBinding_IBillStateService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyBillPaymentWithAddData">
      <soap12:operation soapAction="http://tempuri.org/IBillStateService/VerifyBillPaymentWithAddData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyBillPaymentGetByTermIdAndDateTime">
      <soap12:operation soapAction="http://tempuri.org/IBillStateService/VerifyBillPaymentGetByTermIdAndDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillStateService">
    <wsdl:port name="WSHttpBinding_IBillStateService" binding="tns:WSHttpBinding_IBillStateService">
      <soap12:address location="https://bill.samanepay.com/Checkbill/BillStateService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://bill.samanepay.com/Checkbill/BillStateService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>