Avarez/Web References/Supporter/SendToSuporter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertInSupport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fldCarClassId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fldCarModelId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fldCarSystemId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fldCabinTypeId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fldCarAccountTypeId" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fldCarMakeId" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertInSupportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertInSupportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertOffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fldCodeDaftar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fldAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fldMunId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fldLocalId" nillable="true" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="fldAreaId" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="fldTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expire" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertOfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertOfficeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertInSupportSoapIn">
    <wsdl:part name="parameters" element="tns:InsertInSupport" />
  </wsdl:message>
  <wsdl:message name="InsertInSupportSoapOut">
    <wsdl:part name="parameters" element="tns:InsertInSupportResponse" />
  </wsdl:message>
  <wsdl:message name="insertOfficeSoapIn">
    <wsdl:part name="parameters" element="tns:insertOffice" />
  </wsdl:message>
  <wsdl:message name="insertOfficeSoapOut">
    <wsdl:part name="parameters" element="tns:insertOfficeResponse" />
  </wsdl:message>
  <wsdl:portType name="SendToSuporterSoap">
    <wsdl:operation name="InsertInSupport">
      <wsdl:input message="tns:InsertInSupportSoapIn" />
      <wsdl:output message="tns:InsertInSupportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertOffice">
      <wsdl:input message="tns:insertOfficeSoapIn" />
      <wsdl:output message="tns:insertOfficeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendToSuporterSoap" type="tns:SendToSuporterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertInSupport">
      <soap:operation soapAction="http://tempuri.org/InsertInSupport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertOffice">
      <soap:operation soapAction="http://tempuri.org/insertOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendToSuporterSoap12" type="tns:SendToSuporterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertInSupport">
      <soap12:operation soapAction="http://tempuri.org/InsertInSupport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertOffice">
      <soap12:operation soapAction="http://tempuri.org/insertOffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendToSuporter">
    <wsdl:port name="SendToSuporterSoap" binding="tns:SendToSuporterSoap">
      <soap:address location="http://ecartax.ir/SendToSuporter.asmx" />
    </wsdl:port>
    <wsdl:port name="SendToSuporterSoap12" binding="tns:SendToSuporterSoap12">
      <soap12:address location="http://ecartax.ir/SendToSuporter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>